<div class="container add_view">
    <div ng-if="hasError">出错啦！！！！！！！！</div>
    <div class="page_title">维修信息</div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label class="col-md-4 control-label">车牌号</label>
                <div class="col-md-8">
                    <input type="text" ng-model="information.carNumber">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">车型</label>
                <div class="col-md-8">
                    <input type="text" ng-model="information.carType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">公里数</label>
                <div class="col-md-8">
                    <input type="text" number-only ng-model="information.mailCount">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">客户姓名</label>
                <div class="col-md-8">
                    <input type="text" ng-model="information.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">入厂日期</label>
                <div class="col-md-8">
                    <input date-time min-view="date" format="YYYY-MM-DD" ng-model="information.enterDate">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">结算日期</label>
                <div class="col-md-8">
                    <input date-time min-view="date" format="YYYY-MM-DD" ng-model="information.countDate">
                </div>
            </div>
        </form>
        <hr>
        <div class="table_header">1. 收费结算：</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>金额(元)</th>
                    <th></th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in information.cost.items track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td class="number">{{item.cost}}</td>
                    <td>
                        <button class="btn btn-link btn-xs" ng-click="onCostRemove($index)">删除</button>
                    </td>
                    <td ng-if="$index === 0" rowspan="{{information.cost.items.length}}">
                        <textarea ng-model="information.cost.other"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label class="pl10">总计：</label>
                        <label class="fr pr10">￥ {{getAllCost(information.cost.items)}}</label>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" ng-model="costItemTemp.name"></td>
                    <td><input class="number" number-only type="text" ng-model="costItemTemp.cost"></td>
                    <td><button class="btn btn-link btn-xs" ng-click="onCostAdd()" ng-disabled="!costItemTemp.name">添加</button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="table_header">2. 材料清单：</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>金额(元)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in information.stuffList track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.unit}}</td>
                    <td class="number">{{item.number}}</td>
                    <td class="number">{{item.cost}}</td>
                    <td>
                        <button class="btn btn-link btn-xs" ng-click="onStuffRemove($index)">删除</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label class="pl10">总计：</label>
                        <label class="fr pr10">￥ {{getAllCost(information.stuffList)}}</label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" ng-model="stuffTemp.name"></td>
                    <td><input type="text" ng-model="stuffTemp.unit"></td>
                    <td><input type="text" number-only class="number" ng-model="stuffTemp.number"></td>
                    <td><input type="text" number-only class="number" ng-model="stuffTemp.cost"></td>
                    <td><button class="btn btn-link btn-xs" ng-click="onStuffAdd()" ng-disabled="!stuffTemp.name || !stuffTemp.number">添加</button></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="table_header">3. 工时清单：</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>金额(元)</th>
                    <th></th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in information.worktime.items track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td class="number">{{item.cost}}</td>
                    <td>
                        <button class="btn btn-link btn-xs" ng-click="onWorktimeRemove($index)">删除</button>
                    </td>
                    <td ng-if="$index === 0" rowspan="{{information.worktime.items.length}}">
                        <textarea ng-model="information.worktime.other"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label class="pl10">总计：</label>
                        <label class="fr pr10">￥ {{getAllCost(information.worktime.items)}}</label>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" ng-model="workTimeItemTemp.name"></td>
                    <td><input class="number" number-only type="text" ng-model="workTimeItemTemp.cost"></td>
                    <td><button class="btn btn-link btn-xs" ng-disabled="!workTimeItemTemp.name" ng-click="onWorktimeAdd()">添加</button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-set">
        <button class="btn btn-primary btn-sm" ng-click="onSubmit()" ng-disabled="!information.carNumber || !information.name">确定</button>
        <button class="btn btn-default btn-sm" ng-click="onCancel()">取消</button>
    </div>
</div>
